<nav class="navbar navbar-default navbar-static-top m-b-0">
  <div class="navbar-header">
    <ul class="nav navbar-top-links">
      <!--Dashboard-->
      <li ><a href="dashboard.html" class="waves-effect"><i class="fa fa-dashboard fa-fw" aria-hidden="true"></i>Dashboard</a>
      </li>

      <!--Masters-->
      <!--<li class="dropdown"><a href="#" class="dropdown-toggle waves-effect" data-toggle="dropdown"><i class="fa fa-book fa-fw" aria-hidden="true"></i>Masters<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#" class="waves-effect">Products</a></li>
          <li><a href="#" class="waves-effect">Categories</a></li>
          <li><a href="#" class="waves-effect">Units</a></li>
        </ul>
      </li>-->
      <li ><a href="masters.html" class="waves-effect"><i class="fa fa-book fa-fw" aria-hidden="true"></i>Masters</a>
      </li>

      <!--Party management-->
      <li class="dropdown"><a href="#" class="dropdown-toggle waves-effect" data-toggle="dropdown"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Party Mgmt<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="supplier.html" class="waves-effect">Supplier</a></li>
          <li><a href="customer.html" class="waves-effect">Customer</a></li>
        </ul>
      </li>

      <!--Inventory management-->
      <li ><a href="#" class="waves-effect"><i class="fa fa-database fa-fw" aria-hidden="true"></i>Inventory Mgmt</a>
      </li>

      <!--Purchase management-->
      <li class="dropdown"><a href="#" class="dropdown-toggle waves-effect" data-toggle="dropdown"><i class="fa fa-money fa-fw" aria-hidden="true"></i>Purchase Mgmt<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#" class="waves-effect">Purchase Order</a></li>
          <li><a href="#" class="waves-effect">Challan</a></li>
          <li><a href="#" class="waves-effect">GRN</a></li>
        </ul>
      </li>

      <!--Sales-->
      <li class="dropdown"><a href="#" class="dropdown-toggle waves-effect" data-toggle="dropdown"><i class="fa fa-dollar fa-fw" aria-hidden="true"></i>Sales<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#" class="waves-effect">Invoice</a></li>
        </ul>
      </li>

      <!--Account management-->
      <li class="dropdown"><a href="#" class="dropdown-toggle waves-effect" data-toggle="dropdown"><i class="fa fa-bank fa-fw" aria-hidden="true"></i>Account Mgmt<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#" class="waves-effect">Payment</a></li>
          <li><a href="#" class="waves-effect">General Expense</a></li>
        </ul>
      </li>

      <!--Reports-->
      <li ><a href="#" class="waves-effect"><i class="fa fa-bar-chart-o fa-fw" aria-hidden="true"></i>Reports</a>
      </li>

      <!--Settings-->
      <li ><a href="#" class="waves-effect"><i class="fa fa-gear fa-spin fa-fw" aria-hidden="true"></i>Settings</a>
      </li>

      <!--About-->
      <li ><a href="#" class="waves-effect"><i class="fa fa-user fa-fw" aria-hidden="true"></i>About</a>
      </li>



    </ul>
  </div>
</nav>
