<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>VTranscripts Inc.</title>
</head>

<body style="margin:0px; background: #f8f8f8; ">
    <div width="100%" style="background: #f8f8f8; padding: 0px 0px; font-family:arial; line-height:28px; height:100%;  width: 100%; color: #514d6a;">
        <div style="max-width: 700px; padding:50px 0;  margin: 0px auto; font-size: 14px">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="background:#36bea6; padding:20px; color:#fff; text-align:center;"> Knock knock.. Transcripts are ready! </td>
                    </tr>
                </tbody>
            </table>
            <div style="padding: 40px; background: #fff;">
                <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td><b th:text="${username}"></b>
                                <p style="margin-top:0px;" th:text="${videoName}"></p>
                            </td>
                            <td align="right" width="100" th:text="${transcriptDate}"></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="padding:20px 0; border-top:1px solid #f6f6f6;">
                                <div>
                                	Transcripts are ready and you can download them anytime by just logging in. <a href="http://app.videotranscriber.io">Login</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <b class="pull-right">- Thanks VideoTranscriber team</b> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>